nav {
  background-image: linear-gradient(to right, #2af598 0%, #009efd 100%);;
  color: white;
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}